{% extends 'front/layout.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ _path_ }}/public/css/admin.css">
{% endblock %}

{% block scripts %}
    <script src="{{ _path_ }}/public/js/admin.js"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ head.title }}</h1>

        <form action="" method="POST" class="needs-validation" novalidate>
            <div class="row">
                <div class="col-12 col-sm-4">
                    <div class="form-group">
                        <label for="lastname">Nom <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" name="lastname" id="lastname"{% if _post.lastname %} value="{{ _post.lastname }}"{% elseif user_a.lastname %} value="{{ user_a.lastname }}"{% endif %} required autofocus pattern="^[a-zA-Z\s-]+$" autocomplete="off">
                        <div class="invalid-feedback">Le nom peut être uniquement avec des lettres, minuscules ou majuscules et/ou un espace et/ou un tiret.</div>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="form-group">
                        <label for="firstname">Prénom <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" name="firstname" id="firstname"{% if _post.firstname %} value="{{ _post.firstname }}"{% elseif user_a.firstname %} value="{{ user_a.firstname }}"{% endif %} required pattern="^[a-zA-Z\s-]+$" autocomplete="off">
                        <div class="invalid-feedback">Le prénom peut être uniquement avec des lettres, minuscules ou majuscules et/ou un espace et/ou un tiret.</div>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="form-group">
                        <label for="email">Adresse email <span class="text-danger">*</span></label>
                        <input type="email" class="form-control" name="email" id="email"{% if _post.email %} value="{{ _post.email }}"{% elseif user_a.email %} value="{{ user_a.email }}"{% endif %} required pattern="^[a-z0-9_.-]+@[a-z0-9_.-]{2,}\.[a-z]{2,4}$" autocomplete="off">
                        <div class="invalid-feedback">L'adresse mail doit être de la forme : email@exemple.com.</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-4">
                    <div class="form-group">
                        <label for="password">Mot de passe{% if not user_a %} <span class="text-danger">*</span>{% endif %}</label>
                        <input type="text" class="form-control" name="password" id="password"{% if _post.password %} value="{{ _post.password }}"{% endif %}{% if not user_a %} required{% endif %} minlength="8" maxlength="20" pattern="^[a-zA-Z0-9_-]+$" autocomplete="off">
                        <div class="invalid-feedback">Le mot de passe et la confirmation du mot de passe doivent contenir entre 8 et 20 caractères. Ils peuvent être avec des lettres, minuscules ou majuscules et/ou des chiffres et/ou un tiret bas et/ou un tiret.</div>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="form-group">
                        <label for="password_confirm">Confirmer le mot de passe{% if not user_a %} <span class="text-danger">*</span>{% endif %}</label>
                        <input type="text" class="form-control" name="password_confirm" id="password_confirm"{% if _post.password_confirm %} value="{{ _post.password_confirm }}"{% endif %}{% if not user_a %} required{% endif %} minlength="8" maxlength="20" pattern="^[a-zA-Z0-9_-]+$" autocomplete="off">
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="form-group">
                        <label>&nbsp;</label>
                        <button type="button" class="btn btn-warning btn-block" id="generate-password"><i class="fas fa-key"></i> Générer un mot de passe</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label for="group">Groupe <span class="text-danger">*</span></label>
                        <select class="custom-select" name="group" id="group" required>
                            {% for group in groups %}
                                <option value="{{ group.id_group }}"{{ _post.group == group.id_group or user_a.id_group == group.id_group ? ' selected' : '' }}>{{ group.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {% if user_a %}
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label for="activation">Activer/Désactiver le compte</label>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name="activation" id="activation" value="{{ user_a.is_active == 1 ? 0 : 1 }}">
                                <label class="custom-control-label" for="activation">{{ user_a.is_active == 1 ? 'Désactiver' : 'Activer' }} le compte</label>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>

            {% if user_a %}
                <button type="submit" class="btn btn-theme btn-block mt-4">Mettre à jour l'utilisateur</button>
            {% else %}
                <button type="submit" class="btn btn-theme btn-block mt-4">Créer l'utilisateur</button>
            {% endif %}
        </form>
    </div>
{% endblock %}