{% extends 'front/layout.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ _path_ }}/public/css/admin.css">
{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ head.title }}</h1>

        <form action="" method="POST" class="needs-validation" novalidate>
            <div class="form-group">
                <label for="name">Nom <span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="name" id="name"{% if _post.name %} value="{{ _post.name }}"{% elseif category_a.name %} value="{{ category_a.name }}"{% endif %} required autofocus autocomplete="off">
                <div class="invalid-feedback">Ce champs doit être remplis.</div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-6">
                    <a href="{{ _path_ }}/dashboard" class="btn btn-secondary btn-block mt-4">Annuler</a>
                </div>
                <div class="col-12 col-sm-6">
                    {% if category_a %}
                        <button type="submit" class="btn btn-theme btn-block mt-4">Mettre à jour la catégorie</button>
                    {% else %}
                        <button type="submit" class="btn btn-theme btn-block mt-4">Créer la catégorie</button>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}