{% extends 'front/layout.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ _path_ }}/public/css/jquery-confirm.min.css">
    <link rel="stylesheet" type="text/css" href="{{ _path_ }}/public/css/profil.css">
{% endblock %}

{% block scripts %}
    <script src="{{ _path_ }}/public/js/jquery-confirm.min.js"></script>
    <script src="{{ _path_ }}/public/js/profil.js"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Profil</h1>

        <section>
            <h2>Mon compte</h2>

            <form action="" method="POST" class="needs-validation" novalidate>
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <div class="form-group">
                            <label for="lastname">Nom <span class="text-danger">*</span></label>
                            <input type="text" class="form-control form-control-lg" name="compte[lastname]" id="lastname" value="{{ userL.lastname }}" required pattern="^[a-zA-Z\s-]+$">
                            <div class="invalid-feedback">Votre nom peut être uniquement avec des lettres, minuscules ou majuscules et/ou un espace et/ou un tiret.</div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="form-group">
                            <label for="firstname">Prénom <span class="text-danger">*</span></label>
                            <input type="text" class="form-control form-control-lg" name="compte[firstname]" id="firstname" value="{{ userL.firstname }}" required pattern="^[a-zA-Z\s-]+$">
                            <div class="invalid-feedback">Votre prénom peut être uniquement avec des lettres, minuscules ou majuscules et/ou un espace et/ou un tiret.</div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="form-group">
                            <label for="email">Adresse email <span class="text-danger">*</span></label>
                            <input type="email" class="form-control form-control-lg" name="compte[email]" id="email" value="{{ userL.email }}" required pattern="^[a-z0-9_.-]+@[a-z0-9_.-]{2,}\.[a-z]{2,4}$">
                            <div class="invalid-feedback">Votre adresse email doit être de la forme : email@exemple.com.</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label for="password">Mot de passe</label>
                            <input type="password" class="form-control form-control-lg" name="compte[password]" id="password" minlength="8" maxlength="20" pattern="^[a-zA-Z0-9_-]+$">
                            <div class="invalid-feedback">Votre mot de passe et votre confirmation de mot de passe doivent contenir entre 8 et 20 caractères. Ils peuvent être avec des lettres, minuscules ou majuscules et/ou des chiffres et/ou un tiret bas et/ou un tiret.</div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label for="password_confirm">Confirmation du mot de passe</label>
                            <input type="password" class="form-control form-control-lg" name="compte[password_confirm]" id="password_confirm" minlength="8" maxlength="20" pattern="^[a-zA-Z0-9_-]+$">
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-theme">Mettre à jour</button>
            </form>
        </section>

        <section>
            <h2>Social</h2>

            <form action="" method="POST" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-12 d-block d-sm-none">
                        <div class="profil-avatar" style="background: url('{{ userL.avatar|replace({'\\':'/'}) }}') center center no-repeat;"></div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label for="avatar"><i class="fas fa-portrait"></i> Photo</label>
                            <input type="file" class="form-control-file form-control-lg" name="avatar[]" id="avatar" aria-describedby="avatarHelp" accept=".jpg,.jpeg,.png">
                            <small id="avatarHelp" class="form-text text-muted">
                                Extensions autorisées : <span class="font-weight-bold">.jpg, .jpeg, .png</span>. Taille maximale autorisée : <span class="font-weight-bold">10Mio</span>.
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="website"><i class="fas fa-link"></i> Site internet</label>
                            <input type="url" class="form-control form-control-lg" name="social[website]" id="website"{% if user_social.website %} value="{{ user_social.website }}"{% endif %} placeholder="http(s)://">
                        </div>
                        <div class="form-group">
                            <label for="linkedin"><i class="fab fa-linkedin"></i> LinkedIn</label>
                            <input type="url" class="form-control form-control-lg" name="social[linkedin]" id="linkedin"{% if user_social.linkedin %} value="{{ user_social.linkedin }}"{% endif %} placeholder="https://">
                        </div>
                        <div class="form-group">
                            <label for="github"><i class="fab fa-github"></i> GitHub</label>
                            <input type="url" class="form-control form-control-lg" name="social[github]" id="github"{% if user_social.github %} value="{{ user_social.github }}"{% endif %} placeholder="https://">
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 d-none d-sm-block">
                        <div class="profil-avatar" style="background: url('{{ userL.avatar|replace({'\\':'/'}) }}') center center no-repeat;"></div>
                    </div>
                </div>

                <button type="submit" class="btn btn-theme">Mettre à jour</button>
            </form>
        </section>

        <section>
            <h2 class="text-danger">Supprimer mon compte</h2>

            <form action="" method="POST">
                <p>Attention, cette décision est définitive !</p>
                <input type="hidden" name="delete" value="{{ user.id }}">
                <button type="submit" class="btn btn-outline-danger" id="btn-delete"><i class="fas fa-trash-alt"></i> Supprimer</button>
            </form>
        </section>
    </div>
{% endblock %}