{% extends 'front/layout.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ _path_ }}/public/css/posts.css">
{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ category.name }}</h1>

        {% for post in posts %}
            <article class="post" id="post-{{ post.id_post }}">
                <h2 class="post-title">
                    <a href="{{ _path_ ~ '/articles/' ~ post.p_link }}">{{ post.title }}</a>
                </h2>
                <article class="text-muted post-author">
                    <span data-toggle="tooltip" data-placement="top" title="Publié par"><i class="fas fa-user-edit"></i> {{ post.firstname ~ ' ' ~ post.lastname }}</span>
                    | <span data-toggle="tooltip" data-placement="top" title="Publié le"><i class="fas fa-clock"></i> {{ post.date_add_fr }}</span>
                    {% if post.date_add != post.date_upd %} | <span data-toggle="tooltip" data-placement="top" title="Mis à jour le"><i class="fas fa-history"></i> {{ post.date_upd_fr }}</span>{% endif %}
                </article>
                <article class="post-preview">{{ post.description|slice(0,300)|raw }}{% if post.description|length > 300 %}...{% endif %}</article>
                <a href="{{ _path_ ~ '/articles/' ~ post.p_link }}" class="btn btn-theme post-read-more">Lire la suite</a>
            </article>
        {% endfor %}

        {% if pagination_create is not empty %}
            <nav class="mt-5" aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {{ pagination_create|raw }}
                </ul>
            </nav>
        {% endif %}
    </div>
{% endblock %}