{% extends 'front/layout.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ _path_ }}/public/css/posts.css">
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Les derniers articles</h1>

        {% for post in last_posts %}
            <article class="post" id="post-{{ post.id_post }}">
                <h2 class="post-title">
                    <a href="{{ _path_ }}/articles/{{ post.p_link }}">{{ post.title }}</a>
                </h2>
                <p class="text-muted post-author">
                    <span data-toggle="tooltip" data-placement="top" title="Publié par"><i class="fas fa-user-edit"></i> {{ post.firstname ~ ' ' ~ post.lastname }}</span>
                    | <span data-toggle="tooltip" data-placement="top" title="Publié le"><i class="fas fa-clock"></i> {{ post.date_add_fr }}</span>
                    {% if post.date_add != post.date_upd %} | <span data-toggle="tooltip" data-placement="top" title="Mis à jour le"><i class="fas fa-history"></i> {{ post.date_upd_fr }}</span>{% endif %}
                    | <span data-toggle="tooltip" data-placement="top" title="Catégorie"><a href="{{ _path_ ~ '/categories/' ~ post.c_link }}/1"><i class="fas fa-tag"></i> {{ post.name }}</a></span>
                </p>
                <p class="post-preview">{{ post.description|slice(0,100) }}{% if post.description|length > 100 %}...{% endif %}</p>
                <a href="{{ _path_ }}/articles/{{ post.p_link }}" class="btn btn-secondary post-read-more">Lire la suite</a>
            </article>
        {% endfor %}
    </div>
{% endblock %}