<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{{ head.meta_description }}">
        <meta name="robots" content="{{ head.meta_robots ?: 'noindex, nofollow' }}">
        <title>{{ head.title }} &bull; Blog Engrev</title>
        {% block seo %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="{{ _path_ }}/vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ _path_ }}/vendor/components/font-awesome/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="{{ _path_ }}/public/css/fonts.css">
        <link rel="stylesheet" type="text/css" href="{{ _path_ }}/public/css/main.css">
        <link rel="stylesheet" type="text/css" href="{{ _path_ }}/public/css/navbar.css">
        <link rel="stylesheet" type="text/css" href="{{ _path_ }}/public/css/pagination.css">
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <span class="navbar-brand">Projet 5 : Blog</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item{{ page == 'accueil' ? ' active' : '' }}">
                        <a class="nav-link" href="{{ _path_ }}">Accueil{{ page == 'accueil' ? ' <span class="sr-only">(current)</span>' : '' }}</a>
                    </li>
                    <li class="nav-item{{ page == 'derniers-articles' ? ' active' : '' }}">
                        <a class="nav-link" href="{{ _path_ }}/derniers-articles">Derniers articles{{ page == 'derniers-articles' ? ' <span class="sr-only">(current)</span>' : '' }}</a>
                    </li>
                    <li class="nav-item dropdown{{ page == 'categorie' ? ' active' : '' }}">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Catégories{{ page == 'categorie' ? ' <span class="sr-only">(current)</span>' : '' }}</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for categorie in categoriesL %}
                                <a class="dropdown-item{{ categorie.name == category.name ? ' active' : '' }}" href="{{ _path_ ~ '/categories/' ~ categorie.link }}/1">
                                    {{ categorie.name }} <span class="text-muted font-italic">{{ number_posts[categorie.id_category] }}</span>
                                </a>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item{{ page == 'contact'  ? ' active' : ''}}">
                        <a class="nav-link" href="{{ _path_ }}/contact">Contact{{ page == 'contact' ? ' <span class="sr-only">(current)</span>' : '' }}</a>
                    </li>
                </ul>
                <ul class="navbar-nav d-block d-sm-flex ml-auto">
                    {% if userL is defined %}
                        <button type="button" class="navbar-avatar" title="Mon compte">
                            <img src="{{ _path_ ~ '/' ~ userL.avatar|replace({'\\':'/'}) }}" alt="Photo de profil">
                        </button>
                        <div id="sidebar" class="bg-dark">
                            <div class="sidebar-avatar" style="background: url('{{ _path_ ~ '/' ~ userL.avatar|replace({'\\':'/'}) }}') center center no-repeat;"></div>
                            <div class="list-group list-group-flush">
                                <a href="{{ _path_ }}/dashboard" class="list-group-item list-group-item-action{{ page == 'dashboard' ? ' active' : '' }}"><i class="fas fa-tachometer-alt"></i> Tableau de bord</a>
                                <a href="{{ _path_ }}/profil" class="list-group-item list-group-item-action{{ page == 'profil' ? ' active' : '' }}"><i class="fas fa-user"></i> Mon profil</a>
                                {% if userL.id_group == 1 %}
                                    <a href="{{ _path_ }}/utilisateurs" class="list-group-item list-group-item-action{{ page == 'utilisateurs' ? ' active' : '' }}"><i class="fas fa-users"></i> Utilisateurs</a>
                                {% endif %}
                                <a href="{{ _path_ }}/deconnexion" class="list-group-item list-group-item-action"><i class="fas fa-sign-out-alt text-danger"></i> Me déconnecter</a>
                            </div>
                        </div>
                        <li class="nav-item" id="navbar-btn-signout">
                            <a href="{{ _path_ }}/deconnexion" class="btn btn-outline-danger"><i class="fas fa-sign-out-alt text-danger"></i> Me déconnecter</a>
                        </li>
                    {% else %}
                        <li class="nav-item d-inline-block d-sm-block">
                            <a class="btn btn-outline-success" href="{{ _path_ }}/connexion">Se connecter</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div class="container alert-messages">
            <div class="row d-block">
                <div class="col-xs">
                    {% for key, messages in flashes %}
                        <div class="alert alert-{{ key }} alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <ul class="mb-0">
                                {% for message in messages %}
                                    <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% block body %}{% endblock %}

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <p class="nom">Thomas Vergne</p>
                        <p class="description">Passionné par mon métier, rigoureux et carré, je suis toujours à la recherche de nouveaux projets. Je m'investie à fond dans celui-ci jusqu'à sa livraison. Je cherche toujours à consolider et augmenter mes compétences.</p>
                    </div>
                    <div class="col-12 col-sm-4">
                        <h6>Mes réseaux</h6>
                        <ul class="reseaux">
                            <li><a href="https://github.com/Engrev/P5_vergne_thomas" target="_blank"><i class="fab fa-github"></i> GitHub</a></li>
                            <li><a href="https://www.linkedin.com/in/thomas-vergne" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
                            <li><a href="#" target="_blank"><i class="fas fa-link"></i> Site web</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-4">
                        <h6>Accès</h6>
                        <ul class="acces">
                            <li><a href="mailto:local@blog.engrev.fr"><i class="fas fa-envelope"></i> M'envoyer un mail</a></li>
                            <li><a href="{{ _path_ }}/connexion"><i class="fas fa-lock"></i> Administration</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <script src="{{ _path_ }}/vendor/components/jquery/jquery.min.js"></script>
        <script src="{{ _path_ }}/vendor/twbs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{{ _path_ }}/public/js/main.js"></script>
        <script src="{{ _path_ }}/public/js/navbar.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>